<div class="jumbotron">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h2 id="head-title"><strong>Welcome to Leantech</strong></h2>
                <p id="head-text">Path to digital is not a one shot game but rather a loop of bad and good experiments.
                    That requires strategical and methodological mindset, aim for scalability and profitability as well as A-class execution.</p>
                <button class="btn btn-danger btn-lg" data-toggle="modal" ng-href="#messageCreate">Get in touch</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <h1 id="products-title"><strong>Products</strong></h1>
    </div>
    <div class="row text-center" id="products">
        <div class="col-md-4" >
            <img src="../images/3Products.jpg">
            <h4 id="product3">Full-stack consultancy</h4>
        </div>
        <div class="col-md-4">
            <img src="../images/2Products.jpg">
            <h4 id="product2">Market analysis</h4>
        </div>
        <div class="col-md-4">
            <img src="../images/1products.jpg">
            <h4 id="product1">Design</h4>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-6" id="case">
            <h2><strong>Success case</strong></h2>
            <h4 id="case-text">Path to digital success is not a one shot game but rather a loop of bad and good experiments.
                That requires strategical and methodological mindset, aim for scalability and profitability as well as A-class execution.
            </h4>
            <h4><a id="link" href="#">Learn more</a></h4>
        </div>
        <div class="col-md-4 text-center" id="case-image">
            <img src="../images/Case.jpg">
        </div>

    </div>
</div>