<div class="container" ng-controller="messageController">
    <div class="modal fade" id="messageThanks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="text-center" id="thank_size">
                            <h1><strong>Thank you for your inquiry!</strong></h1>
                            <p id="thank_info">We will contact you within 24h.</p>
                            <button class="btn btn-danger btn-lg" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>